
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #805b8f; /* Pink background for the entire page */
}



.fixed-height-container {
  height: 400px; /* Set this to your desired fixed height */
  min-height: 400px;
  width: 100%;
  overflow-y: auto; /* Add scrolling if content overflows */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  color: #666;
}

.profitability-table {
  width: 100%;
  padding: 20px;
}

/* Optional: Improve table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.total-shares {
  font-weight: bold;
  background-color: #f2f2f2;
}